:root{
    --main-bg-color: skyblue;
    --border-color: rgba(0, 0, 0, 0.95);  
}

body, html{
     font-family: system-ui;
     background: var(--main-bg-color);
     height: 100%;
     padding: 0;
     margin: 0;
}

.upload-container{
    border-radius: 25px;
    background: white;
}

body, .drop-zone, .upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-container{
    width: 75px;
    height: 100px;
    position: relative;

}

.title{
    font-size: 20px;
    font-weight: 500;
}

.dragged.drop-zone{
    background: grey;
}

.drop-zone{
    margin: 30px;
    width: 500px;
    border-radius: 20px;
    min-height: 200px;
    border: 2px dashed;
    border-color: var(--border-color);
    border-width: 3px;
}

.icon-container img{
    width: 55px;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.dragged .icon-container img{
    width: 85px;
}

.fileip{
    display: none;
}

.browse{
    color: gray;
    cursor: pointer;
}

.progress-container{
    width: 500px;
    height: 20px;
    border: 2px solid;
    margin-bottom: 20px;
    border-radius: 10px;
}

.progress-container .bg-progress{
    background: rgb(214, 243, 255);
    width: 0%;
    height: 100%;
    border-radius: 2%;
    transform-origin: left;
    transition: width .25s linear;
}