:root{
    --width: 500px;
    --main-bg-color: skyblue;
    --border-color: rgba(0, 0, 0, 0.95);  
}

body, html{
     font-family: system-ui;
     background: var(--main-bg-color);
     height: 100%;
     padding: 0;
     margin: 0;
     overflow: hidden;
     
}

.upload-container{
    border-radius: 25px;
    background: white;
}

body, .drop-zone, .upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-container{
    width: 75px;
    height: 100px;
    position: relative;

}

.title{
    font-size: 20px;
    font-weight: 500;
}

.dragged.drop-zone{
    background: grey;
}

.drop-zone{
    margin: 30px;
    width: var(--width);
    border-radius: 20px;
    min-height: 200px;
    border: 2px dashed;
    border-color: var(--border-color);
    border-width: 3px;
}

.icon-container img{
    width: 55px;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.dragged .icon-container img{
    width: 85px;
}

.fileip{
    display: none;
}

.browse{
    color: gray;
    cursor: pointer;
}

.progress-container{
    width: var(--width);
    height: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    display: none;
}

.copy{
    margin-bottom: 40px;
    margin-left: 200px;
}

.expires{
    opacity: 0.8;
    text-align: center;
}

.link_container{
    width: var(--width);
    display: none;
}

.link_container .link_box input{
    width: var(--width);
    border: 2px dashed black;
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 20px;
    background: rgb(207, 241, 255);
}

.progress-container .bg-progress{
    background: rgb(214, 243, 255);
    width: 0%;
    height: 100%;
    border-radius: 2%;
    transition: width .25s linear;
    transform-origin: left;
    position: absolute;
    z-index: 999;
}


.alert{
    position: absolute;
    bottom: 40px;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 100px);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    transition: transform ease-in-out 0.3s;
    background:rgb(67, 67, 231);
}




@media screen and (max-width: 900px){
    :root{
        --width: 320px;
        
    }
}